.books {
  list-style: none;
  padding:0;
}

.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
/*  padding-bottom: 1em;*/
  width: 100px;
}

.books li {
  clear: both;
  padding:10px;
}

.breadcrumb {
  margin-bottom:10px;
}

input {
  margin-top:15px;
}

.books span {
  color:red;
}

h3 {
  margin:0;
}

a:hover {
  text-decoration: none;
}

.tooltip {
    display: inline;
    position: relative;
}

.tooltip:hover {
    color: #c00;
    text-decoration: none;
}

.tooltip:hover:after {
    background: #111;
    background: rgba(0,0,0,.8);
    border-radius: .5em;
    bottom: 1.35em;
    color: #fff;
    content: attr(title);
    display: block;
    left: 1em;
    padding: .3em 1em;
    position: absolute;
    text-shadow: 0 1px 0 #000;
    white-space: nowrap;
    max-width:80%;
    z-index: 98;
}

.tooltip:hover:before {
    border: solid;
    border-color: #111 transparent;
    border-color: rgba(0,0,0,.8) transparent;
    border-width: .4em .4em 0 .4em;
    bottom: 1em;
    content: "";
    display: block;
    left: 2em;
    max-width:80%;
    position: absolute;
    z-index: 99;
}

/* this part styles only a paragraph  */

p {
    color: #333;
    font: normal .875em "Lucida Grande",Arial,sans-serif;
    margin: 1em auto;
    width: 75%;
}