.books {
  list-style: none;
  padding:0;
}

.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
/*  padding-bottom: 1em;*/
  width: 100px;
}

.books li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}

.breadcrumb {
  margin-bottom:10px;
}

input {
  margin-top:15px;
}

.books span {
  color:red;
}

h3 {
  margin:0;
}

a:hover {
  text-decoration: none;
}