<div class="jumbotron text-center">
	<code>{{message.name}}</code><br>
	<b>Best Italian Sellers</b><br>
	<div class="best" ng-repeat="(key, value) in message.best">
		<blockquote>
			<h3>{{value.name}}</h3>
			<p>Ingredients: {{value.ingredients}}<br>
			<span style="float:right">Price: {{value.price}}</span></p>
		</blockquote>
		<br>
	</div>
	<b>Pizza</b><br>
	<div class="Pizza" ng-repeat="(key, value) in message.pizza">
		<blockquote>
			<h3>{{value.name}}</h3>
			<p>Ingredients: {{value.ingredients}}<br>
			<span style="float:right">Price: {{value.price}}</span></p>
		</blockquote>
		<br>
	</div>
	<b>Pasta</b><br>
	<div class="Pasta" ng-repeat="(key, value) in message.pasta">
		<blockquote>
			<h3>{{value.name}}</h3>
			<p>Ingredients: {{value.ingredients}}<br>
			<span style="float:right">Price: {{value.price}}</span></p>
		</blockquote>
		<br>
	</div>
</div>