<div class="container-fluid">

<input class="form-control" placeholder="search for a book" ng-model="query">

  <div class="row">>
    <div class="col-md-12">
      <!--Body content-->

      <ul class="books">
        <li ng-repeat="message in messages | filter:query">
          <a href="#about/{{ $index }}"><img class="thumb" ng-src="{{ message.cover }}"></a>
          <h3><a href="#about/{{ $index }}">{{ message.name }}</a></h3>
          <b><span>By:</span> {{ message.auth_name }} {{ message.books.length }}</b> - <code ng-repeat="books in message.books">{{ books }}</code>
          <p><span>Description:</span> {{ message.book_description }}</p>
          <a href="#" class="tooltip" title="<a href></a> jsfdkjdfksdkjdsjfkdsj jdkfad dsf dfs df dsjhfjdshfds fsd fsd g fsg fds r rs  gfsd gf gf g fg rrsedrs df s r gfs fs d gfs fdg s gs dg s gr g rs  grs gr gr s gs r grs gr g rsg s g">pellentesque</a>
        </li>
      </ul>

    </div>
  </div>
</div>