<div class="container-fluid">

<input class="form-control" placeholder="search for a book" ng-model="query">

  <div class="row">>
    <div class="col-md-12">
      <!--Body content-->

      <ul class="books">
        <li ng-repeat="message in messages | filter:query">
          <a href="#about/{{ $index }}"><img class="thumb" ng-src="{{ message.cover }}"></a>
          <h3><a href="#about/{{ $index }}">{{ message.name }}</a></h3>
          <b><span>By:</span> {{ message.auth_name }}</b>
          <p><span>Description:</span> {{ message.book_description }}</p>
        </li>
      </ul>

    </div>
  </div>
</div>