<div ng-repeat="message in messages">
<div class="head">
    <h2 class="left">{{message.name}}</h2>
	<a class="right" href="#about/{{$index}}"><i class="fa fa-shield"></i> About</a>
</div>


<div style="clear:both"></div>
		<h2 class="dash">Best Italian Sellers</h2>
	<div class="best" ng-repeat="(key, value) in message.best">
		<blockquote>
			<h3>{{value.name}}</h3>
			<p>Ingredients: {{value.ingredients}}<br>
			<span style="float:right">Price: {{value.price}}</span></p>
		</blockquote>
		<br>
	</div>

		<h2 class="dash">Pizza</h2>
	<div class="pizza" ng-repeat="(key, value) in message.pizza">
		<blockquote>
			<h3>{{value.name}}</h2>
			<p>Ingredients: {{value.ingredients}}<br>
			<span style="float:right">Price: {{value.price}}</span></p>
		</blockquote>
		<br>
	</div>

		<h2 class="dash">Pasta</h2>
	<div class="pasta" ng-repeat="(key, value) in message.pasta">
		<blockquote>
			<h3>{{value.name}}</h3>
			<p>Ingredients: {{value.ingredients}}</br>
			<span style="float:right">Price: {{value.price}}</span></p>
		</blockquote>
		<br>
	</div>
</div>